doctype html
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    // Include eel.js - note this file doesn't exist in the 'web' directory
    script(type='text/javascript', src='/eel.js')
    // CDN Libraries
    // Materialize
    // Compiled and minified CSS
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css')
    // Compiled and minified JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
    // 
    // Jquery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    // 
    // Let browser know website is optimized for mobile
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    // Local CSS
    link(rel='stylesheet', href='css/index.css')
    
    // Local Scripts
    script(src='scripts/index.js')
    
    title Modular Sorting Line Software
  body
    .flex-container
      .row#arduinoList
        .flex-item
          a.waves-effect.waves-light.btn(onclick=("addToHtml()")) List Arduinos
