html, body {
  background-color: #212121;
  height: 100%;
}
body {
  margin: 0;
}
.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}
.flex-item {
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.module-container {
  height: 100%;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#moduleAddSquare {
  margin-left: 20px;
  margin-top: 5px;
}

#module {
  background-color: #EEEEEE;
  padding: 20px;
}

.component-label {
  margin-top: 3px;
}

#modulePlus {
  margin-top: 35px;
}
